@import url('https://fonts.googleapis.com/css?family=Oswald');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Oswald', sans-serif; 

}

body {
	background-image: url(../images/backgrounds-blank-blue-953214.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
	height: 100%;
}

input { text-align: center; }

.container {
	margin: auto;
	text-align: center;
}

nav {
	background-image: url(../images/background-design-marble-850796.jpg);
	background-color: white;
	margin-bottom: 100px;
	border-style: solid;
	border-width: 2px;
	border-color: lightgrey;
}

a {
	float: right;
	width: 100%
}

textarea { text-align: center; }

a, p{
	color: black;
	font-size: 24px;
}

#headerPics {
	margin-bottom: 7.5px;
	height: 130px;
	width: 100%;
}

#headerPics, #ebayItemInfo, #walmartItemInfo {
	border-color: yellow;
	border-style: solid;
	border-width: 1px;
}

.card-title {
	margin-bottom: 0;
}

#ebayItemPhoto {
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
}

#ebayItemInfo {
	background-color: white;
}

#search {
	background-color: #fff;
	color: darkblue;
}

.col.s6 {
	margin-top: 50px;
}

